.body{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 77;
}
.left_part{
    width: 680px;
}
.login_left {
    background-color: #3f8cff;
    border-radius: 15px 0 0 15px;
}
.top_part{
    padding-top: 60px;
    padding-top: 60px;
    color: rgba(255, 255, 255, 1);
    padding-left: 94px;
}
.brend{
    width: 50px;
    height: 50px;
}
.bottom_part{
    /* display: grid; */
    padding-top: 70px;
    color: rgba(255, 255, 255, 1);
    padding-left: 48px;
}
.logins{
    padding-top: 35px;
    width: 73%;
    padding-bottom: 81px;
    padding-left: 25px;
} 
.right_part{
    width: 680px;
    margin-top: -40px;
}
#email{
    border-radius: 15px ;
}
#password{
    border-radius: 15px;
}
#agaipassword{
    border-radius: 15px;
}
#remember-me{
    margin-top: 25px;
}
.button{
   padding-bottom: 20px;
}
.bottom-2{
margin-bottom: -40px;
}
.registr{
    margin-top: -40px;
}
.sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;  
    width: 170px;
    margin-top: 30px;
}
.sign_in{
    color: rgba(63, 140, 255, 1);
}

